{{ define "body_classes" }}page-services-list{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
	{{ .Content }}
	<h3 class="content">Check if you're a member with us</h3>
	<iframe width="312" height="69" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=E1A2ECB9DE5539A2%214211&authkey=%21AAHAIlxjlygMJDE&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='WEBSITE%20CHECK'!A2&Item='WEBSITE%20CHECK'!A1%3AB2&wdInConfigurator=True"></iframe>
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
	<img
	  class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
	  src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-3">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>

<div class="container">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Australia%2FPerth&amp;src=Y3VydGlubWVkc29jLm9yZy5hdV9pdmU1cGptZG9hODhuZzRzanIxN203YnNyMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%239E69AF&amp;showTitle=0&amp;showCalendars=0&amp;showPrint=0&amp;showTz=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

{{ end }}
